.stopwatch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stopwatch-display {
  width: 210px;
  font-size: 48px;
  padding-bottom: 20px;
}

.stopwatch-button-container {
  display: flex;
  gap: 10px;
}

.stopwatch-button {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.stopwatch-button-start {
  background-color: green;
}

.stopwatch-button-reset {
  background-color: red;
}
